/* @import 'about.css'; */
/* @import 'contact.css'; */
/* @import 'footer.css'; */
/* @import 'hero.css'; */
/* @import 'lightbox.css'; */
/* @import 'nav.css'; */
/* @import 'projects.css'; */
/* @import 'services.css'; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #ff6b35;
  text-decoration: none;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, sans-serif;
  line-height: 1.6;
  color: #333;
}
